<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>BET-ARCHI sarl </title>
</head>
<body>
  <header>
    <div class="nav-contact">
      <div class="numero">
        <div class="email">
          <p><span><i></i></span> Nous contacter</p>
        </div>
        <div class="telephone">
          <p>002250788665544</p>
          <p>002250788665544</p>
        </div>
        <div class="reseau-sociau">

        </div>
      </div>

      <div class="navbar ">
        <div class="logo-container ">
          <div class="logo">
            <a class="navbar-brand" href="/">
              <img src="/images/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
              <span class="logo-text">BET-ARCHI sarl</span> 
            </a>
          </div>
        </div>
          <div class="navbar-link">
            <ul class="niveau1">
              <li class="service"><a href="#">service</a> 
                <ul class="noveau2">
                <li><a href="#">decoration</a></li>
                <li><a href="#">plans</a></li>
                <li><a href="#">construction</a></li>
              </ul>

              </li>
              <li><a href="#">location</a></li>
              <li><a href="#">vendre</a></li>
              <li><a href="#">acheter</a></li>
              <li><a href="#">contact</a></li>
            </ul>
          </div>
       
      </div>
    </div>
  </header>

  <script src="./dist/js/bootstrap.min.js"></script>
</body>
</html>