<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>BET-ARCHI sarl </title>
</head>
<body>
  <header>
    <div class="nav-contact">
      <div class="menu">
        <div class="navbar ">
          <div class="logo-container ">
            <div class="logo">
              <a class="navbar-brand" href="/">
                <img src="/images/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                <span class="logo-text">BET-ARCHI sarl</span> 
              </a>
            </div>
          </div>
            <div class="navbar-link">
              <ul class="niveau1">
                <li class="service"><a href="#">service</a> 
                  <ul class="noveau2">
                  <li><a href="#">decoration</a></li>
                  <li><a href="#">plans</a></li>
                  <li><a href="#">construction</a></li>
                </ul>
  
                </li>
                <li><a href="#">location</a></li>
                <li><a href="#">vendre</a></li>
                <li><a href="#">acheter</a></li>
                <li><a href="#">contact</a></li>
              </ul>
            </div>
         
        </div>
        <div class="banier">
          <video id="video" class="banier-video" loop muted="" autoplay="" playsinline="" preload="auto" >
            <source src="/videos/videos.mp4" type="video/mp4">
          </video>
         
        </div>
        <div class="overlay"></div>
        <div class="recherche container">
          <form action="">
            <div class="contain-recherche">
              <div>
                <select name="typeBien" id="typeBien">
                  <option selected="" disabled="">Type de bien</option>
                  <option value="1">Apartement</option>
                  <option value="2">Bureau</option>
                  <option value="3">Terein</option>
                  <option value="4">Villa</option>
                  <option value="5">Equipé</option>
                </select>
              </div>
              <div>
                <select name="Ville" id="ville">
                  <option selected="" disabled="">Villes</option>
                  <option value="1">Abidjan</option>
                  <option value="2">Bouake</option>
                  <option value="3">Daloa</option>
                </select>
              </div>
              <div>
                <input type="text" name="nbrpierce" placeholder="nombre de peirce">
              </div>
              <div>
                <input type="text" name="budget" id="budget" placeholder="Budget en FCFA">
              </div>
              <div>
                <button class="button-search" type="submit" name="send" >
                  <i class="bi bi-search"></i>
                </button>
              </div>
              
            </div>
          </form>
        </div>
        <div class="presentation">
          <p>
            <h1>Agence immobilier</h1>
            <h2>BET-ARCHI sarl</h2>
          </p>
        </div>
      </div> 
     
    </div>
  </header>
  <section class="main">
    <div class="section-achete">
      <div class="title-section">
        <div class="contain-title">
          <h2>Vous souhaitez acheter ?</h2>
          <hr class="soulignement">
          <small>nos biens en vente</small>
        </div>
      </div>
      <div class="section-body">
        <div class="cards">
          <div class="info-card">
            <a href="/ventes">
              <div class="info">
                <div class="info-icon"><i class="fa-solid fa-tag"></i></div>
                <div class="info-text"><h4>Vente</h4></div>
              </div>
            </a>
            <a href="#">
              <div class="info">
                <div class="info-icon"></div>
                <div class="info-text"><h4>Achat</h4></div>
              </div>
            </a>
          <a href="#">
            <div class="info">
              <div class="info-icon"></div>
              <div class="info-text"><h4>decoration</h4></div>
            </div>
          </a>
          <a href="#">
            <div class="info">
              <div class="info-icon"></div>
              <div class="info-text"><h4>architecture</h4></div>
            </div>
          </a>
          <a href="#">
            <div class="info">
              <div class="info-icon"></div>
              <div class="info-text"><h4>construction</h4></div>
            </div>
          </a>
          <a href="#">
            <div class="info">
              <div class="info-icon"></div>
              <div class="info-text"><h4>renovation</h4></div>
            </div>
          </a>
          <a href="#">
          <div class="info">
            <div class="info-icon"><i class="fa-solid fa-tag"></i></div>
            <div class="info-text"><h4>Projet</h4></div>
          </div>
        </a>
          </div>
          <div class="card-img">
            <img src="/images/card1.jpg" alt="">
          </div>
        </div>
        <div class="cards">
          <div class="info-card">
            <a href="#">
              <div class="info">
                <div class="info-icon"><i class="fa-solid fa-tag"></i></div>
                <div class="info-text"><h4>Vente</h4></div>
              </div>
            </a>
            <a href="#">
              <div class="info">
                <div class="info-icon"></div>
                <div class="info-text"><h4>Achat</h4></div>
              </div>
            </a>
          <a href="#">
            <div class="info">
              <div class="info-icon"></div>
              <div class="info-text"><h4>decoration</h4></div>
            </div>
          </a>
          <a href="#">
          <div class="info">
            <div class="info-icon"><i class="fa-solid fa-tag"></i></div>
            <div class="info-text"><h4>Projet</h4></div>
          </div>
        </a>
          </div>
          <div class="card-img">
            <img src="/images/card1.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main">
    <div class="bien-vendus">
      
    </div>
  </section>

  <footer>
    <div class="banier-footer">
      <div class="footer-contact">
     
      </div>
      <div class="footer-link">
      
      </div>
    </div>
    <div class="copy">
      <p class="text-copy">
        
      </p>
    </div>
  </footer>

  <script src="./dist/js/bootstrap.min.js"></script>
</body>
</html>