*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* header */
header{
  margin-bottom: 50px;
}

.menu{
  position: relative;
  background-color: rgba(48, 124, 190, 0.096);
  width: 100vw;
  height: 100vh;
  min-height: 25rem;
  overflow: hidden;
}

.navbar{
  position:sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 50px;
  flex-flow: row wrap;
  background-color:rgba(240, 248, 255, 0.082);
  z-index: 4;
  font-size:medium;

}
.navbar .logo-container a{
  color: aliceblue;
  font-weight: bold;
}
.navbar .logo-container  {
  color: aliceblue;
  margin: 0 50px;
}

.navbar .navbar-link ul{
  list-style-type: none;
  margin: 0;
  padding: O;
}
.navbar-link li.service{
  position: relative;
}

.navbar-link ul ul{
  display: none;
  position: absolute;
  left: 0;
  width: 100px;
}
.navbar-link ul ul li a{
  text-align: center;
}
.navbar-link ul li{
  font-size: medium;
  border: 2px white solid;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  float: left;
  list-style: none;
  

}
.navbar-link li{
 
}
.navbar-link li a {
  text-decoration: none;
  color: white;
  padding: 4px 0;
  display: block;
  width: 100px;
  text-align: center;
  font-weight: bold;

}
ul.niveau1 li.service:hover .noveau2 {
  display: block;
}
li:hover{
  background-color: white;
  color: black;
}

.banier{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.banier-video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.presentation{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.main{
  display: flex;
  flex-flow: column;
  margin: 0 100px;
}
/* section title */

.title-section{
  text-align: center;
  margin: 20px;
}

.title-section .soulignement{
  background-color: rgb(58, 226, 15);
  width: 200px;
  margin: 5px auto;
}

/* end  */




.section-body{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.cards{
  position: relative;
  visibility: visible;
  width: 320px;
  margin: 10px 25px 10px 10px ;
  cursor: pointer;
}
.cards:hover img{
  transform: scale(1.25);
}
.cards .card-img{
  overflow: hidden;
}
.cards .card-img img{
  transition: all 1s ease;
  width: 100%;
  height: 400px;
}
.cards .info-card{
  position: absolute;
  top: 40px;
  left: -28px;
  z-index: 6;
  margin: 20px 0;
}
.cards .info{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 35px;
  overflow: hidden;
}
.cards .info .info-icon{
  position: relative;
  width: 30px;
  height: 100%;
  padding-right: 10px;
  text-align: center;
  border-right: 2px solid black;
}
.info-icon{
  background-color: rgb(58, 226, 15);
  z-index: 5;
}
.info-icon i{
  background-color:  rgb(58, 226, 15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  margin: 0;
}

.cards:hover .info-text{
  display: block;
  transform: translateX(0%);
}

.info .info-text{
  transform: translateX(-100%);
  background-color: white;
  color: #8d9192;
  width: 240px;
  height: 100%;
  transition: all 1s;
  padding-left: 10px;
}
.info .info-text h4{
  font-size:small;
}
